{% extends 'base.html' %}
{% block content %}
{{ form.media.css }}
    <li class="breadcrumb-item active">Create Team</li>
    <!-- Breadcrumb Menu-->
    </ol>
    <!--START OF CONTENT-->
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Create Team <!--{{ accreditation.document_id }}--></strong>
                        </div>
                        {% if error %}
                        {{ error }}
                        {% endif %}
                        <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <i><label for="name">Team Name</label></i>
                                                {{ form.team_name }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <i><label for="name">Team Head</label></i>
                                                {{ form.team_head }}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <i><label for="name">Team Role</label></i>
                                                {{ form.team_role }}
                                                <!-- <input class="form-control" id="team_role" name="team_role" type="text"
                                                       placeholder="Team Role"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <i><label for="name">Select </label></i>
                                    {{ form.accred }}
                                </div>
                                <div class="col-sm-6">
                                    <i><label for="name">Add </label></i>
                                    {{ form.members }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit"> Next</button>
                            <button class="btn btn-success" type="submit"> Save and Create Another Team</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END OF CONTENT-->
{{ form.media.js }}
{% endblock %}