{% extends 'base.html' %}
{% block content %}
{{ form.media.css }}
    <li class="breadcrumb-item active">Create Team</li>
    <!-- Breadcrumb Menu-->
    </ol>
    <!--START OF CONTENT-->
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Create Team <!--{{ accreditation.document_id }}--></strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <i><label for="name">Team Name</label></i>
                                                <input class="form-control" id="committeeName" name="team_name" type="text"
                                                       placeholder="Team A">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <i><label for="name">Team Head</label></i>
                                                <select class="form-control" name="team_head" id="team_head">
                                                    <option value>Select User</option>
                                                    {% for ab in users %}
                                                        <option value="{{ ab.id }}">{{ ab }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <i><label for="name">Add Members</label></i><hr>
                                    {{ form }}
                                    <div class="row">
                                        <div class="col-sm-5 text-left">
                                            <p>Jamora, Ivanna Denise T.</p>
                                        </div>
                                        <div class="col-sm-3 text-left">
                                            <p>Faculty</p>
                                        </div>
                                        <div class="col-sm-3 text-left">
                                            <p>IT Department</p>
                                        </div>
                                        <div class="col-sm-1 text-left">
                                            <p><input type="checkbox" name="vehicle1" value="Bike"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5 text-left">
                                            <p>Martinez, Clifford Markus O.</p>
                                        </div>
                                        <div class="col-sm-3 text-left">
                                            <p>Staff</p>
                                        </div>
                                        <div class="col-sm-3 text-left">
                                            <p>ST Department</p>
                                        </div>
                                        <div class="col-sm-1 text-left">
                                            <p><input type="checkbox" name="vehicle1" value="Bike"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Temporary hidden to follow-->
                            <!-- <button class="btn btn-primary" type="button" onclick="addTeam()"> Add Team</button> -->
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit"> Next</button>
                            <button class="btn btn-success" type="submit"> Save and Create Another Team</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END OF CONTENT-->
{{ form.media.js }}
{% endblock %}