{% extends 'base.html' %}
{% block content %}
          <li class="breadcrumb-item active">New Accreditation</li>
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>Create Accreditation Period</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Accrediting Agency</label></i>
                          <select class="form-control" id="agency">
                            <option>Please Select</option>
                            <option onclick="accreditationType()" value="PAASCU">PAASCU</option>
                            <option onclick="accreditationType()" value="PACUCOA">PACUCOA</option>
                            <option onclick="accreditationType()" value="AUN">AUN</option>
                            <option onclick="accreditationType()" value="ABET">ABET</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Type</label></i>
                          <select class="form-control" id="select">
                            <option>Please Select</option>
                            <option>Initial Application</option>
                            <option>Reaccreditation</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Document</label></i>
                          <select class="form-control" id="select">
                            <option>Please Select</option>
                            <option>ABET CAC Self-Survey Report</option>
                            <option>ABET ANSAC Self-Survey Report</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Degree Program</label></i>
                          <select class="form-control" id="select">
                            <option>Please Select</option>
                            <option>BS Information Systems</option>
                            <option>BS Information Technology</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br><hr><br>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                          <i><label class="col-md-12 col-form-label">Accreditation Period</label></i>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <i><label for="name">Start Date</label></i>
                              <input class="form-control" id="" type="date" name="" placeholder="">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <i><label for="name">Estimated End Date</label></i>
                              <input class="form-control" id="" type="date" name="" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card-footer">
                    <a href="{% url 'createteam' %}" style="text-decoration: none; color:white;"><button class="btn btn-primary" type="button"> Next</button></a>
                  </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
