{% extends 'base.html' %}
{% block content %}
          <li class="breadcrumb-item active">Create Team</li>
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>Create Team</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Accrediting Agency</label></i>
                          <select class="form-control" id="agency" disabled="">
                            <option>Please Select</option>
                            <option value="PAASCU">PAASCU</option>
                            <option value="PACUCOA">PACUCOA</option>
                            <option value="AUN" selected="">AUN</option>
                            <option value="ABET">ABET</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Type</label></i>
                          <select class="form-control" id="select" disabled="">
                            <option>Please Select</option>
                            <option selected="">Initial Application</option>
                            <option>Reaccreditation</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Document</label></i>
                          <select class="form-control" id="select" disabled="">
                            <option>Please Select</option>
                            <option selected="">ABET CAC Self-Survey Report</option>
                            <option>ABET ANSAC Self-Survey Report</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <i><label for="name">Degree Program</label></i>
                          <select class="form-control" id="select" disabled="">
                            <option>Please Select</option>
                            <option selected="">BS Information Systems</option>
                            <option>BS Information Technology</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br><hr>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <i><label for="name">Team Name</label></i>
                          <input class="form-control" id="committeeName" type="text" placeholder="Committee Name">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div id="addAssignments">
                      <i><p>Team Assignments:</p></i>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <select class="form-control" id="checklistItem">
                            <option>Select Chapter</option>
                            <option>I. Introduction</option>
                            <option>Initial/Preliminary Survey</option>
                          </select>
                      </div>
                      <div class="col-sm-1">
                        <div class="form-group">
                          <button class="btn btn-primary" type="button" onclick="addItem()">Assign</button>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <select class="form-control" id="area">
                            <option>Select Team</option>
                            <option>Team A</option>
                            <option>Team B</option>
                            <option>Team C</option>
                            <option>Team D</option>
                          </select>
                      </div>
                      <div class="col-sm-1">
                        <div class="form-group">
                          <button class="btn btn-primary" type="button" onclick="addArea()">Assign</button>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <select class="form-control" id="committee">
                            <option>Select User</option>
                            <option>Juan Dela Cruz</option>
                            <option>Juan Dela Cruz</option>
                            <option>Juan Dela Cruz</option>
                            <option>Juan Dela Cruz</option>
                          </select>
                      </div>
                      <div class="col-sm-1">
                        <div class="form-group">
                          <button class="btn btn-primary" type="button" onclick="addCommittee()">Assign</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card-footer">
                    <a href="{% url 'createteam' %}" style="text-decoration: none; color:white;"><button class="btn btn-secondary" type="button"> Create Another Team</button></a>
                    <a href="{% url 'dash' %}" style="text-decoration: none; color:white;"><button class="btn btn-primary" type="button"> Save</button></a>
                  </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script>
          var i = 0;
          // Create a new list item when clicking on the "Add" button

          function addItem() {
            var item = document.getElementById("checklistItem").value;
            var x = '<p><input type="checkbox" name=""> '+ item +'</p>';
            if (item === 'Select Chapter') {
              alert("You must select something!");
            }
            else {
              document.getElementById("addAssignments").insertAdjacentHTML('beforeend', x);
              i++;
            }
            document.getElementById("checklistItem").value = "Select Chapter";
          }

          function addArea() {
            var item = document.getElementById("area").value;
            var x = '<p><input type="checkbox" name=""> '+ item +'</p>';
            if (item === 'Select Team') {
              alert("You must select something!");
            }
            else {
              document.getElementById("addAssignments").insertAdjacentHTML('beforeend', x);
              i++;
            }
            document.getElementById("area").value = "Select Team";
          }

          function addCommittee() {
            var item = document.getElementById("committee").value;
            var x = '<p><input type="checkbox" name=""> '+ item +'</p>';
            if (item === 'Select User') {
              alert("You must select something!");
            }
            else {
              document.getElementById("addAssignments").insertAdjacentHTML('beforeend', x);
              i++;
            }
            document.getElementById("checklistItem").value = "Select User";
          }
        </script>
<!--END OF CONTENT-->
{% endblock %}