{% extends 'base.html' %}
{% block content %}
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">Document Outlines</div>
                  <div class="card-body">
                    <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Accrediting Body</th>
                          <th>Document Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>ABET</td>
                          <td>ABET CAC Self Survey Report 2019</td>
                          <td>
                            <button class="btn btn-primary" type="submit"><a href="accreditationlist.html" style="text-decoration: none; color: white;">Edit</a></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
