{% extends 'base.html' %}
{% block content %}
          <li class="breadcrumb-item active">Document Outlines</li>
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">Document Outlines</div>
                  <div class="card-body">
                    <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Accrediting Agency</th>
                          <th>Document Name</th>
                          <th width="20%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for outline in outlines.all %}
                        <tr>
                          <td>{{ outline.accrediting_body_id.accrediting_body }}</td>
                          <td>{{ outline.document_name }}</td>
                          <td>
                            <a href="{% url 'viewdocuoutline' %}"><button class="btn btn-primary" type="">View</button></a>
                            <button class="btn btn-success" type="">Edit</button>
                            <button class="btn btn-danger" type="">Delete</button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
