{% extends 'base.html' %}
{% block content %}
          <li class="breadcrumb-item active">Teams</li>
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">Teams</div>
                  <div class="card-body">
                    <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Team Name</th>
                          <th>Accreditation</th>
                          <th>Document</th>
                          <th>Members</th>
                          <th>Chapters/Sections</th>
                          <th>Teams</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        {% for member in members.all %}
                          <td>{{ member.team_id.team_name }}</td>
                          <td>{{ member.accrediting_id.accrediting_body }}</td>
                          <td>ABET CAC Self Survey Report 2019-2020</td>
                          <td>Juan Dela Cruz<br>Maria Dela Cruz</td>
                          <td>1.0 Introduction<br>2.0 History</td>
                          <td>Team A<br>Team B<br>Team C</td>
                          <td>
                            <button class="btn btn-primary" type="submit"><a href="accreditationlist.html" style="text-decoration: none; color: white;">View</a></button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
