{% extends 'base.html' %}
{% block content %}
          <a href="{% url 'docuoutlinelist' %"><li class="breadcrumb-item">Document Outlines</li></a>
          <li class="breadcrumb-item active">Docu Outlines</li>
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>ABET CAC Self-Survey Report 2019</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="pName">Accrediting Agency</label>
                            <p><strong id="pName">ABET</strong></p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="pCode">Document Name</label>
                          <p><strong id="pCode">ABET CAC Self-Survey Report 2019-2020</strong></p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                        <p><b>1.0 Introduction</b><span style="padding-left: 15px"><i>(Section)</i></span></p>
                        <p style="padding-left: 100px">1.1 Background<span style="padding-left: 15px"><i>(Section)</i></p>
                        <p style="padding-left: 175px">1.1.1 Computer Studies<span style="padding-left: 15px"><i>(Section)</i></p>
                        <p style="padding-left: 175px">1.1.2 Education<span style="padding-left: 15px"><i>(Criteria)</i></p>
                        <p><b>2.0 Objectives</b><span style="padding-left: 15px"><i>(Criteria)</i></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" type="button"> <a href="createcheckoptionstfaculty.html" style="text-decoration: none; color:white;">Go Back</a></button>
                    <button class="btn btn-primary" type="button" onclick="">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
