.select2-container {
    width: inherit!important;
}
.select2-container--default .select2-selection--multiple {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border-color: rgb(138, 212, 238)!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: rgb(92, 104, 115);
    cursor: default!important;
    float: left!important;
    margin-right: 0.1875rem!important;
    line-height: 23px;
    font-size: 12px;
    background: rgb(255, 255, 255)!important;
    border-width: 1px!important;
    border-style: solid!important;
    border-color: rgb(99, 194, 222)!important;
    border-image: initial!important;
    padding: 0px 0.375rem 0px 0px!important;
    border-radius: 0.25rem!important;
    -webkit-border-radius: 0.25rem!important;
    -moz-border-radius: 0.25rem!important;
    -ms-border-radius: 0.25rem!important;
    -o-border-radius: 0.25rem!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    width: 26px;
    color: rgb(99, 194, 222)!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-weight: bold!important;
    text-align: center;
    margin-right: 0.375rem!important;
    border-right: 1px solid rgb(99, 194, 222);
    background: rgb(255, 255, 255);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    background: rgb(204, 235, 244);
}
.select2-container--open .select2-dropdown--below {
    overflow-x: hidden;
    margin-top: -1px;
    border-color: rgb(138, 212, 238);
}
.select2-results__option {
    padding: 0.375rem 0.75rem!important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: rgb(240, 243, 245)!important;
    color: rgb(24, 27, 30)!important;
    text-decoration: line-through;
    opacity: 0.7;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(32, 168, 216)!important;
    color: rgb(255, 255, 255)!important;
}