{% extends 'base.html' %}
{% block content %}
          <li class="breadcrumb-item active">Accrediting Agencies</li>
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">Accrediting Agencies</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Agency Name</th>
                              <th width="15%"></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for agency in agencies.all %}
                            <tr>
                              <td>{{ agency.accrediting_body }}</td>
                              <td>
                                <a href="{%  url 'agencylist' %}"><button class="btn btn-primary" type="">Edit</button></a>
                                <a href="{%  url 'agencylist' %}"><button class="btn btn-danger" type="">Delete</button></a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
