{% extends 'base.html' %}
{% block content %}
    <li class="breadcrumb-item active">Create Document Outline</li>
    <!-- Breadcrumb Menu-->
    </ol>
    <!--START OF CONTENT-->
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Create Document Outline</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <i><label>Accreditating Agency</label></i>
                                        <select id="accrediting-agency" class="form-control">

                                            {% for ab in accrediting_bodies %}
                                                <option value="{{ ab.id }}">{{ ab.accrediting_body }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <i><label>Report Title</label></i>
                                        <input class="form-control" id="report-title" type="text"
                                               placeholder="e.g. ABET CAC Self Survey Report">
                                    </div>
                                </div>
                            </div>
                            <div class="border-top position-relative">
                                <div class="mt-3 mb-3">
                                    <button type="button" class="btn btn-outline-primary"
                                            onclick="createTopLevelParent()">Add Parent Subsection
                                    </button>
                                </div>

                                <div id="parent-sections" class="d-flex flex-column">

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="button" onclick="onSubmitButtonClick()    "><a
                                    style="text-decoration: none; color:white;">Submit</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none">
        <div id="master-section" class="document-item mt-2 position-relative">
            <div class="card p-3">
                <div class="document-item-parent row justify-content-between">
                    <div class="col-1 add-child-button-container">
                        <button type="button" class="btn btn-outline-primary add-child-subsection-button">+</button>
                    </div>
                    <div class="col-8">
                        <input class="form-control subsection-title" placeholder="Section title"/>

                    </div>
                    <div class="col-2">
                        <select class="form-control subsection-section">
                            <option selected>Section</option>
                            <option>Criteria</option>
                            <option>Table</option>
                            <option>Figure</option>
                        </select>


                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-danger remove-subsection-button">Remove</button>
                    </div>

                </div>
                <div class="criteria-form-container"></div>
            </div>
            <div class="document-item-children d-flex flex-column pl-5 pt-2">

            </div>
        </div>
    </div>

    <script>

        $(() => {
            // At page load, create first parent
            createTopLevelParent();
        });

        function createTopLevelParent() {
            createSubsection(0, null);
        }

        function removeAllChildren(section) {
            section
                .find('div.document-item-children')
                .empty();
        }

        function lockSectionToSection(section) {
            section
                .find("select.subsection-section")
                .each((idx, select) => {
                    select = $(select);
                    select.val("Criteria");
                    select.prop("disabled", true);
                })
        }

        function disableAddingChildren(section) {
            section
                .find("button.add-child-subsection-button")
                .prop("disabled", true);
        }

        function unlockSection(section) {
            section
                .find("select.subsection-section")
                .each((idx, select) => {
                    select = $(select);
                    select.prop("disabled", false);
                })
        }

        function showCriteriaFields(section) {
            const criteriaForm = $("#master-criteria-form").clone();
            criteriaForm.removeAttr("id");

            section.find("div.criteria-form-container").prepend(criteriaForm);
        }

        function removeCriteriaFields(section) {
            section.find("div.criteria-form-container").empty();
        }

        function enableAddingChildren(section) {
            section
                .find("button.add-child-subsection-button")
                .prop("disabled", false);
        }

        function createSubsection(level, parent, isCriteria) {
            // No parent means it's a top level element - select the div for
            // document outline parents
            if (!parent) {
                parent = $('#parent-sections');
            }

            // Clone master document outline form
            const section = $('#master-section').clone();

            // Make sure to leave out the ID
            section.removeAttr('id');

            // Level 5 is the maximum - prevent adding children
            if (level >= 5) {
                section
                    .find('.add-child-button-container')
                    .find('button')
                    .remove();
            }

            section
                .find('.remove-subsection-button')
                .click(() => {
                    section.remove();
                });

            section
                .find('select.subsection-section')
                .change(function () {
                    const sectionSection = $(this).val();


                    section
                        .find('> div.document-item-children > div.document-item')
                        .each((idx, subsection) => {
                            console.log(idx, subsection);
                            subsection = $(subsection);

                            if (sectionSection === "Criteria") {
                                removeAllChildren(subsection);
                                lockSectionToSection(subsection);
                                disableAddingChildren(subsection);
                            } else {
                                unlockSection(subsection);
                                enableAddingChildren(subsection);
                            }
                        });
                });

            section
                .find('.add-child-subsection-button')
                .click(() => {
                    // Select first because .find will find literally ALL document-item-children
                    const childSubsectionParent = section
                        .find('.document-item-children')
                        .first();

                    const isCriteria = section.find("select.subsection-section").val() === "Criteria";
                    createSubsection(level + 1, childSubsectionParent, isCriteria);
                });

            if (isCriteria) {
                section
                    .find(".add-child-subsection-button")
                    .prop("disabled", true);

                section
                    .find("select.subsection-section")
                    .prop("disabled", true)
                    .val("Criteria");

                showCriteriaFields(section);
            }

            parent.prepend(section);
        }


        /*
            Section: {
                title: string,
                section: string,
                subsections: [Section]
            }
         */
        function gatherFormData() {
            function collectSections(sectionItem, level) {
                let section = {};

                section.title = sectionItem
                    .find("input.subsection-title")
                    .first()
                    .val();

                section.section = sectionItem
                    .find("select.subsection-section")
                    .first()
                    .val();

                if (level < 5) {
                    section.subsections = [];
                }

                return section;
            }

            function childrenToSections(children, level) {
                let sections = [];

                children.each((i, child) => {
                    child = $(child);
                    let section = collectSections(child, level);
                    console.log(section);


                    const childChildren = child
                        .find(".document-item-children")
                        .first()
                        .children();

                    if (childChildren.length > 0) {
                        section.subsections = childrenToSections(childChildren, level + 1);
                    }

                    sections.push(section);
                });

                return sections;
            }

            const topLevelSections = $("#parent-sections").children();
            return childrenToSections(topLevelSections, 0);
        }

        function onSubmitButtonClick() {
            const sections = gatherFormData();

            $.post("/createdocuoutline/", JSON.stringify({
                agency: $("#accrediting-agency").val(),
                title: $("#report-title").val(),
                sections
            }))
                .done(() => alert("Submitted"))
                .fail(() => alert("An error occurred submitting form"));


            console.log("Gathering");
        }

    </script>
    <!--END OF CONTENT-->
{% endblock %}
