{% extends 'base.html' %}
{% block content %}
          <li class="breadcrumb-item">Create Document Outline</li>
          <li class="breadcrumb-item active">Set Criteria</li>
          <!-- Breadcrumb Menu-->
        </ol>
    <!--START OF CONTENT-->
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Docu Outline</strong>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                             <div class="col-sm-12">
                                                <div class="row" id="rating">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <i><label for="pName">Criteria Title</label></i>
                                                            <input class="form-control" type="text" value="I. Criteria 1 ">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <i><label for="pName">Rating/Score Type</label></i>
                                                              <select class="form-control" id="score" onchange="scoring()">
                                                                <option>Please Select</option>
                                                                <option>N/A</option>
                                                                <option>Numeric</option>
                                                                <option>Letter</option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-1">
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <input class="form-control" type="text" value="Sub-Criteria 1 ">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="input-group">
                                                                    <input class="form-control" id="evidence" type="text" placeholder="Evidence">
                                                                    <span class="input-group-append">
                                                                        <button class="btn btn-primary" type="button" onclick="addEvidence()">Add</button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-sm-1">
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <textarea class="form-control" rows="2" placeholder="Description"></textarea>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <select class="form-control" id="evidencelist" size="2" multiple="">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <i><label for="pName">Criteria Title</label></i>
                                                    <input class="form-control" type="text" value="II. Criteria 2 ">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <i><label for="pName">Rating/Score Type</label></i>
                                                      <select class="form-control" id="score">
                                                        <option>Please Select</option>
                                                        <option>N/A</option>
                                                        <option>Numeric</option>
                                                        <option>Letter</option>
                                                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <i><label for="pName">Criteria Title</label></i>
                                                    <input class="form-control" type="text" value="III. Criteria 3 ">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <i><label for="pName">Rating/Score Type</label></i>
                                                      <select class="form-control" id="score">
                                                        <option>Please Select</option>
                                                        <option>N/A</option>
                                                        <option>Numeric</option>
                                                        <option>Letter</option>
                                                      </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" onclick="onSubmitButtonClick()">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var i = 0;
          // Create a new list item when clicking on the "Add" button

            function scoring() {
                var item = document.getElementById("score").value;
                var x = '<div class="col-sm-2">'+
                            '<div class="form-group">'+
                                '<i><label for="pName">Lowest Score</label></i>'+
                                '<input class="form-control" type="text" placeholder="1. ABCD">'+
                            '</div>'+
                        '</div>'+
                        '<div class="col-sm-2">'+
                            '<div class="form-group">'+
                                '<i><label for="pName">Highest Score</label></i>'+
                                '<input class="form-control" type="text" placeholder="1. ABCD">'+
                            '</div>'+
                        '</div>';

                var y = '<div class="col-sm-4">'+
                            '<div class="form-group">'+
                                '<i><label for="pName">Alphanumeric</label></i>'+
                                '<input class="form-control" type="text" placeholder="1. ABCD">'+
                            '</div>'+
                        '</div>';

                if (item === 'Please Select') {
                  alert("You must select something!");
                }
                else if (item == 'Numeric'){
                  document.getElementById("rating").insertAdjacentHTML('beforeend', x);
                  i++;
                }
                else if (item == 'Letter'){
                  document.getElementById("rating").insertAdjacentHTML('beforeend', y);
                  i++;
                }
                else {
                  i++;
                }
        }
    </script>

    <script>

        function addEvidence() {
                var item = document.getElementById("evidence").value;
                var x = '<option>' + item + '</option>';
                
                document.getElementById("evidencelist").insertAdjacentHTML('beforeend', x);
        }
    </script>
    <!--END OF CONTENT-->
{% endblock %}
