{% extends 'base.html' %}
{% block content %}
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>{{ program.program_name }}</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <i><label for="pName">Program Name</label></i>
                          <p><strong id="pName">{{ program.program_name }}</strong></p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <i><label for="pCode">Program Code</label></i>
                          <p><strong id="pCode">{{ program.program_code }}</strong></p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <i><label for="pStartDate">Year Established</label></i>
                          <p><strong id="pStartDate">{{ program.program_est }}</strong></p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <i><label for="pGraduates">No of years with graduates</label></i>
                          <p><strong id="pGraduates">{{ program.program_grads }} years with graduates</strong></p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Accrediting Agency</th>
                              <th>Level / Result</th>
                              <th>Year Accredited</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for prev in prevs.all %}
                            <tr>
                              <td>{{ prev.accreditation_agency }}</td>
                              <td>{{ prev.accreditation_result }}</td>
                              <td>{{ prev.accreditation_year }}</td>
                              <td>
                                <button class="btn btn-primary" type="reset"> Edit</button>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" type="button"> <a href="createcheckoptionstfaculty.html" style="text-decoration: none; color:white;">Go Back</a></button>
                    <button class="btn btn-primary" type="button" onclick="">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
