{% extends 'base.html' %}
{% block content %}
    <!-- Breadcrumb Menu-->
    </ol>
    <!--START OF CONTENT-->
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">BSINSYS PAASCU 2019</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Section</th>
                                            <th>Assigned Members</th>
                                            <th>Evidence List</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1.1.1 Sub-Section Name</td>
                                            <td>Denise Jamora</td>
                                            <td>Evidence A<br>Evidence B<br>Evidence C</td>
                                            <td>
                                                <a href="{% url 'ansdocu' %}">
                                                    <button class="btn btn-primary" type="reset"> View</button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END OF CONTENT-->
{% endblock %}