{% extends 'base.html' %}
{% block content %}
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>Add Accrediting Agency</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <i><label for="name">Accreditating Agency</label></i>
                          <input class="form-control" id="accreditingbody" type="text" placeholder="Ex. PAASCU">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <a href="{% url 'addagency' %}" style="text-decoration: none; color:white;"><button class="btn btn-primary" type="button">Add</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}