{% extends 'base.html' %}
{% block content %}
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>Add Degree Program</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="pName">Program Name</label>
                          <input class="form-control" id="name" type="text" placeholder="e.g. BS Information Technology">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="pCode">Program Code</label>
                          <input class="form-control" id="code" type="text" placeholder="e.g. BS IT">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="pStartDate">Date Started</label>
                          <input class="form-control" id="start" type="month" placeholder="">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="pGraduates">No of years with graduates</label>
                          <input class="form-control" id="graduate" type="number" min="0" placeholder="e.g. 5">
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-sm-3">
                            <div class="form-group">
                              <i><label for="name">Previous Accreditations</label></i><p><input type="checkbox" id="myCheckbox" name="" onchange="showHide(this.checked)"> N/A</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="inputs">
                      <div class="col-md-12" id="prev">
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <i><p style="text-align: center">Agency</p></i>
                          </div>
                          <div class="form-group col-sm-4">
                            <i><p style="text-align: center">Level</p></i>
                          </div>
                          <div class="form-group col-sm-4">
                            <i><p style="text-align: center">Year</p></i>
                          </div>
                        </div>
                      </div>
                      <br><br>
                      <div class="form-group col-sm-4">
                        <input class="form-control" id="agency" type="text" placeholder="Agency">
                      </div>
                      <div class="form-group col-sm-4">
                        <input class="form-control" id="level" type="text" placeholder="Level/Result of Accreditation">
                      </div>
                      <div class="form-group col-sm-3">
                        <input class="form-control" id="year" type="text" placeholder="Year Accredited">
                      </div>
                      <div class="form-group col-sm-1">
                        <button class="btn btn-primary" type="button" onclick="newAccreditation()">Add</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" type="button"> <a href="createcheckoptionstfaculty.html" style="text-decoration: none; color:white;">Save</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}
