{% extends 'base.html' %}
{% block content %}
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>Accrediting Period | Criteria Name</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="pGraduates">Narrative</label>
                          <textarea class="form-control" id="textarea-input" name="textarea-input" rows="7" placeholder="Content.."></textarea>
                        </div>
                      </div>
                    </div>
                        <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <p>Comments and Revisions</p>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="input-group">
                              <textarea class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor nulla ac mi lobortis, quis pharetra lectus scelerisque. Suspendisse potenti. Vestibulum tristique vitae nisi sit amet porta. Nam in quam et lorem ultrices vehicula. Maecenas nisl metus, luctus sed pharetra in, suscipit id metus.</textarea>
                              <span class="input-group-append">
                                <button class="btn btn-primary" type="button" onclick="">Resolve</button>
                              </span>
                            </div>
                          </div>
                        </div><br><br>
                        <div class="row">
                          <div class="col-sm-12">
                              <div class="input-group">
                                <textarea class="form-control" id="textarea-input" name="textarea-input" rows="1" placeholder="Comment.."></textarea>
                                <span class="input-group-append">
                                  <button class="btn btn-primary" type="button" onclick="">Add Comment</button>
                                </span>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <br>
                        <p>Appendices and Exhibits</p>
                        <div class="form-group">
                          <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>File</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                          <button class="btn btn-primary" type="button" onclick="">Select from Evidences</button>
                          <button class="btn btn-success" type="button" onclick="">Upload New Evidence</button>
                        </div>
                      </div>
                    </div>
                      <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <p>Figures and Tables</p>
                          <table id="myTable2" class="table table-responsive-sm table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>File</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                          <button class="btn btn-primary" type="button" onclick="">Select from Files</button>
                          <button class="btn btn-success" type="button" onclick="">Upload New File</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" type="button" onclick="">Save</button>
                    <button class="btn btn-success" type="button" onclick="">Complete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}