{% extends 'base.html' %}
{% block content %}
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <strong>Accrediting Period | Criteria Name</strong>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <i><p>Criteria Description here</p></i>
                          <br>
                          <label for="pGraduates">Narrative</label>
                          <textarea class="form-control" id="textarea-input" name="textarea-input" rows="9" placeholder="Content.."></textarea>
                        </div>
                        <div class="form-group">
                          <p>Evidence List</p>
                          <br>
                          <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Evidence</th>
                                <th>Assigned Member</th>
                                <th>Deadline</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Picture of classroom layout</td>
                                <td>Denise Jamora</td>
                                <td>August 2, 2019</td>
                                <td>
                                  <button class="btn btn-primary" type="submit"><a href="accreditationlist.html" style="text-decoration: none; color: white;">Upload</a></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="form-group">
                          <p>Appendices and Exhibits</p>
                          <br>
                          <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>File</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1.1</td>
                                <td>Layout of Computer Laboratories</td>
                                <td>Appendix</td>
                                <td>Picture of all computer laboratories in gokongwei building</td>
                                <td>layout.png</td>
                                <td>
                                  <button class="btn btn-danger" type="submit"><a href="accreditationlist.html" style="text-decoration: none; color: white;">Remove</a></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" type="button" onclick="">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}