{% extends 'base.html' %}
{% block content %}
    <li class="breadcrumb-item active">Assign Section to Member</li>
    <!-- Breadcrumb Menu-->
    </ol>
    <!--START OF CONTENT-->
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Assign Section to Member <!--{{ accreditation.document_id }}--></strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row" style="margin-bottom: 15px">
                                        <div class="col-sm-8">
                                            <button class="btn btn-outline-success" type="" onclick="viewSubsection()" id="button">+</button>
                                            <span style="padding-left: 25px">I. Section Area 1</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="team_head" id="team_head">
                                                <option value>Select Team</option>
                                                {% for ab in users %}
                                                    <option value="{{ ab.id }}">{{ ab }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 15px" id="subsection">
                                        <div class="col-sm-8">
                                            <button class="btn btn-outline-success" type="" style="margin-left: 50px" onclick="viewSub1()" id="btn">+</button>
                                            <span style="padding-left: 25px">A. Sub-Section Chapter 1</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="team_head" id="team_head">
                                                <option value>Select User</option>
                                                {% for ab in users %}
                                                    <option value="{{ ab.id }}">{{ ab }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 15px" id="sub1">
                                        <div class="col-sm-8">
                                            <button class="btn btn-outline-success" type="" style="margin-left: 100px">+</button>
                                            <span style="padding-left: 25px">1. Inner Sub Section Level</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="team_head" id="team_head">
                                                <option value>Select User</option>
                                                {% for ab in users %}
                                                    <option value="{{ ab.id }}">{{ ab }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 15px" id="subsection1">
                                        <div class="col-sm-8">
                                            <button class="btn btn-outline-success" type="" style="margin-left: 50px" onclick="viewSub1()" id="btn">+</button>
                                            <span style="padding-left: 25px">A. Sub-Section Chapter 2</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="team_head" id="team_head">
                                                <option value>Select User</option>
                                                {% for ab in users %}
                                                    <option value="{{ ab.id }}">{{ ab }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 15px" id="subsection2">
                                        <div class="col-sm-8">
                                            <button class="btn btn-outline-success" type="" style="margin-left: 50px" onclick="viewSub1()" id="btn">+</button>
                                            <span style="padding-left: 25px">A. Sub-Section Chapter 3</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="form-control" name="team_head" id="team_head">
                                                <option value>Select User</option>
                                                {% for ab in users %}
                                                    <option value="{{ ab.id }}">{{ ab }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Temporary hidden to follow-->
                            <!-- <button class="btn btn-primary" type="button" onclick="addTeam()"> Add Team</button> -->
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit"> Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        document.getElementById('subsection').style.display = 'none';
        document.getElementById('subsection1').style.display = 'none';
        document.getElementById('subsection2').style.display = 'none';

        function viewSubsection(){

            var x = document.getElementById('subsection');
            var a = document.getElementById('subsection1');
            var b = document.getElementById('subsection2');
            var y = document.getElementById('button');
                if (x.style.display === 'none') {
                    x.style.display = '';
                    a.style.display = '';
                    b.style.display = '';
                    y.innerHTML = '-';
                    } 
                else {
                    x.style.display = 'none';
                    a.style.display = 'none';
                    b.style.display = 'none';
                    y.innerHTML = '+';
                }

        }
    </script>
    <script>

        document.getElementById('sub1').style.display = 'none';

        function viewSub1(){

            var x = document.getElementById('sub1');
            var y = document.getElementById('btn');
                if (x.style.display === 'none') {
                    x.style.display = '';
                    y.innerHTML = '-';
                    } 
                else {
                    x.style.display = 'none';
                    y.innerHTML = '+';
                }

        }
    </script>
    <!--END OF CONTENT-->
{% endblock %}