{% extends 'base.html' %}
{% block content %}
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">BSINSYS PAASCU 2019</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Evidence Name</th>
                              <th>Assigned Team</th>
                              <th>Assigned Member</th>
                              <th>Deadline</th>
                              <th>Status</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Evidence A</td>
                              <td>Team A</td>
                              <td>Denise Jamora</td>
                              <td>August 2, 2019</td>
                              <td>Pending</td>
                              <td>
                                <a href="{% url 'ansdocu' %}"><button class="btn btn-warning" type="reset"> Remind</button></a>
                              </td>
                            </tr>
                            <tr>
                              <td>Evidence A</td>
                              <td>Team A</td>
                              <td>Denise Jamora</td>
                              <td>August 2, 2019</td>
                              <td>For Approval</td>
                              <td>
                                <a href="{% url 'ansdocu' %}"><button class="btn btn-primary" type="reset"> View</button></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" onclick="onSubmitButtonClick()">Finalize Document</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}