{% extends 'base.html' %}
{% block content %}
          <li class="breadcrumb-item active">Evidence List</li>
          <!-- Breadcrumb Menu-->
        </ol>
<!--START OF CONTENT-->
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">Evidence List</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <table id="myTable" class="table table-responsive-sm table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>Accreditation</th>
                              <th>Referenced in</th>
                              <th>Evidence Name</th>
                              <th>Evidence Type</th>
                              <th>File</th>
                              <th>Uploaded by</th>
                              <th width="14%"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>BSINSYS PAASCU</td>
                              <td>A.1 Section 1</td>
                              <td>Picture of Gokongwei Bldg</td>
                              <td>Appendix</td>
                              <td><a href="{% url 'filerepo' %}">gox.jpg</a></td>
                              <td>Denise Jamora</td>
                              <td>
                                <a href=""><button class="btn btn-primary" type="reset"> Edit</button></a>
                                <a href=""><button class="btn btn-danger" type="reset"> Delete</button></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <a href=""><button class="btn btn-primary" type="reset"> Add Evidence from File Repository</button></a>
                    <a href=""><button class="btn btn-success" type="reset"> Upload New Evidence</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--END OF CONTENT-->
{% endblock %}